body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
  background-color: rgb(90, 80, 80);
  padding: 10px;
  border-radius: 20px;
}

.contains {
  width: 50%;
  contain: '';
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
  padding: 10px;
}

section img {
  border-radius: 50%;
  margin-bottom: 20px;
  width: 150px;

}

.lista {
  width: 50%;
}

input {
  margin-bottom: 10px;
}

h1 {
  padding: 10px;
}

.repo {

  width: 100%;
  margin-top: 28px;
}

li {
  list-style: decimal;
}

@media screen and (max-width: 650px) {

  main {
    display: block;
    align-items: center;
  }

  .contains {
    margin: auto;
  }

  .lista {
    margin: auto;
  }

  .repo {
    width: 108%;
  }

  .inicia {
    width: 112%;
  }

  .item {}
}