* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  border-radius: 70px 10px 10px 10px;
  color: aliceblue;
  background: rgb(36, 37, 34);
  max-width: 400px;
  margin: 3% auto;
  padding: 2%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.container h1 {
  margin-bottom: 15%;
}

.form-group {
  display: grid;
  margin-bottom: auto;
  margin-bottom: 8%;
}

.form-group input {
  width: 65%;
  margin: auto;
}

@media (max-width:400px) {

  .container {
    max-width: 300px;
    padding: 4%;
  }

  .container h1 {
    font-size: 100%;
  }

}